*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.heading{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 9px 0px;
}

.form{
    background-color: #eeeeee;
    padding: 9px;
}

.name{
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.fields{
    display: flex;
    flex-direction: column;
}

body{
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: max-content;
}

.submit{
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #aaa5a5d0;
    border-radius: 5px;
}

.input{
    padding: 9px 13px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(165, 164, 164);
    background-color: #fff;
}

.fields input{
    margin-bottom: 30px;
}

.check{
    font-size: 20px;
    color: #3f3f3f;
}

